<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link id="style" rel="stylesheet" href="/styles/login.css">
    <script src="./src/httpManager.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h2>Login</h2>

        <form id="form" onsubmit="login(event)">
            <!-- Seus campos de formulário aqui -->
            <input type="text" name="username" placeholder="Nome de usuário" required />
            <input type="password" name="password" placeholder="Senha" required/>
            <!-- Botão de envio -->
            <button type="submit" value="Enviar"><strong>Enviar</strong></button>
          </form>

    </div>
    <div id="response"></div>

</body> 

</html>